<section id="productos">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-6-md rounded p-0 m-3 contenedor">
                <div class="carta p-0 m-0">
                    <div class="front-producto">
                        <img src="/images/almendras.jpg" alt="Almendras" class="img-fluid">
                    </div>
                    <div class="back-producto">
                        <h5 class="px-2">TITULO PRODUCTO</h5>
                        <p class="text-justify px-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, minus!</p>
                    </div>


                </div>

            </div>



        </div>
    </div>



</section>
@code {

}
